<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				 th:replace="~{base::layout(~{::section})}">
<head>
	<title>Base page</title>

</head>
<body>

	<section>
		<h1>Aboutnew section </h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore ea officiis repellendus recusandae ut numquam nisi laborum deleniti asperiores maxime necessitatibus impedit nemo laudantium libero molestias dolor ab quo vero placeat voluptas. Praesentium at aliquam tenetur beatae eos maxime perspiciatis totam fuga ducimus alias explicabo inventore quis quisquam velit quod.</p>

	</section>

</body>

</html>
