<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Footer template</title>
</head>
<body>
	
	<footer id="fragmentTag" th:fragment="footer1(${title},${subtitle})">
		
		<div class="container">
		
			<h1 th:text="${title}"></h1>
			<h1 th:text="${subtitle}"></h1>
			<h1>feel free to contact</h1>
			<p>lionbid xihnx uixb jb xkjb vjckxbv jdb vdjb dkj dj hsi k kjdvkd v</p>
	
		</div>
	
	</footer>
	

</body>

</html>
